    <section class="hero-img container-fluid">
      <div class="intro text-center">
        <h2><%= @test %> Omaha's Premiere Entertainment Guide</h2>
        <p>Bar and club listings, restaurants, upcoming events, and happy hours.</p>
      </div>
    </section>
    <section class="near-me text-center">
      <header>
        <h3>Finding Events is easy</h3>
        <p>Find an event near you with our map.</p>
      </header>
      <div class="map"></div>
      <a href="#">Find Events</a>
    </section>
    <section class="venues">
      <header>
        <h3 class="text-center">Featured Venues</h3>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-xs-6">Hello</div>
          <div class="col-xs-6">whats up</div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-6">asdfa</div>
          <div class="col-xs-6">asdfsf</div>
        </div>
        <div class="container text-center"><a href="#">More Venues</a></div>
      </div>
    </section>
    <section>
      <header>
        <h3 class="text-center">Upcoming Events</h3>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-xs-6"></div>
          <div class="col-xs-6"></div>
        </div>
      </div>
       <div class="container">
        <div class="row">
          <div class="col-xs-6"></div>
          <div class="col-xs-6"></div>
        </div>
      </div>
       <div class="container">
        <div class="row">
          <div class="col-xs-6"></div>
          <div class="col-xs-6 text-center"><a href="#">Upcoming Events</a></div>
        </div>
      </div>
    </section>
    <section>
      <header>
        <h3 class="text-center">Today's Happy Hours</h3>
      </header>
       <div class="container-fluid text-center">
         <div class="col-sm-1">
         	<a data-fancybox="gallery" href="big_1.jpg" class="hpy-hr-home"><div>7M Grill</div></a>
         </div>
         <div class="col-sm-1 hpy-hr-home">
         	<a data-fancybox="gallery" href="big_1.jpg" class="hpy-hr-home"><div>Bar 415</div></a>
         </div>
         <div class="col-sm-1 hpy-hr-home">
         	<a data-fancybox="gallery" href="big_1.jpg" class="hpy-hr-home"><div>Ozone Lounge</div></a>
         </div>
         <div class="col-sm-1"><a href="#">More Happy Hours</a></div>
      </div>
    </section>
    <section>
      <header>
        <h3 class="text-center">Recent Photos</h3>
      </header>
        <div class="container">
          <div class="row">
            <div class="col-md-1"></div>
            <div>
              <p class="col-xs-6">asdfasdf</p>
              <p class="col-xs-6">asdlfjsadofs</p>
            </div>
          </div>
        </div>
      <div class="text-center"><a href="#">More Photos</a></div>
    </section>
    <section class="container text-center">
      <header>
        <h3>Advertise with us</h3>
      </header>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent laoreet nibh id finibus convallis. Sed et dapibus lectus. Ut vestibulum nisi ac sapien auctor lacinia. Donec efficitur sem vel tortor placerat posuere. Cras lectus urna, aliquet in.</p>
        <a href="#">more info</a>
      </div>
    </section>
